# Dev env moved to distrobox container
# Enter with: distrobox enter flutter-dev
# Create with: distrobox assemble create --file $HOME/dotfiles/dev_env/flutter/distrobox.ini

alias dev="distrobox enter flutter-dev"
