# Add Flutter SDK Path
export PATH="$PATH":"$HOME/fvm/default/bin"

# Add Dart executables to path
export PATH="$PATH":"$HOME/.pub-cache/bin"

# Add Chrome Executable Variable
export CHROME_EXECUTABLE="$(which brave)"

# Export Dart Environment Path
export PATH="$PATH":"$HOME/.pub-cache/bin"
